


/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
+media-breakpoint-down(lg)
+media-breakpoint-down(md)
	header
		width: auto
		height: 453px
		margin-top: 0
	.navbar-brand
		white-space: normal
+media-breakpoint-down(sm)
	
+media-breakpoint-down(xs)
@media (max-width: 453px)
	header
		width: auto
		height: 320px


/*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
	.cb-slideshow
		margin-top: 30px	
+media-breakpoint-up(xl)
	