@import "../libs/bootstrap/scss/my-variables"
@import "../libs/bootstrap/scss/bootstrap"
@import "_mixins/mixins"
@import "../css/icon-font.min.css"
@import "fonts"

html, body
	height: 100%

	body
		font-size: 16px
		min-width: 320px
		position: relative
		font-family: PlayfairDisplay-BlackItalic
		letter-spacing: 2px
		color: #f2f2f2
		box-sizing: border-box
		overflow-x: hidden
		input, textarea
			outline: none
			&:focus:required:invalid
				border-color: red
				&:required:valid
					border-color: green

.clearfix
	display: block
	clear: both
	content: ""
header
	height: 100vh
	width: 100%
	position: relative
	text-align: center
	background-image: url(../img/5-salut.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
	.navbar
		position: absolute
		width: 100%
		.navbar-brand h1
			position: absolute
			top: 0
			z-index: 11
			color: $light
			font-weight: 600
			+ts(3px,2px,0,#222)
			span
				color: $light
				font-size: 25px
				margin-left: 20px
#hexagon
  width: 100px
  height: 55px
  background: $red
  position: absolute
  padding: 20px 
  margin: 20px
  top: 25px
  h1
		padding-bottom: 20px
  &:before
    content: ""
    position: absolute
    top: -25px
    left: 0
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-bottom: 25px solid $red
  &:after
    content: ""
    position: absolute
    bottom: -25px
    left: 0
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-top: 25px solid $red		

	

@import "media" // Always at the end
